[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_614e_1D0011000E43304253383020-if00
restart_method: command

[cartographer]
mcu: cartographer
x_offset: <blank> # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: <blank> # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: yes # For extra output

[bed_mesh]
zero_reference_position: 150, 150
speed: 300
horizontal_move_z: 3

mesh_min: 40, 25
mesh_max: 260, 275
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
cs_pin: cartographer:PA3
# spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20