[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_614e_1D0011000E43304253383020-if00
restart_method: command

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 22 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: yes # For extra output

[bed_mesh]
zero_reference_position: 150, 150
speed: 300
horizontal_move_z: 3
mesh_min: 40, 40
mesh_max: 260, 260
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0

[cartographer scan]
mesh_runs: 2

[cartographer touch]
# samples: 5
#   The number of samples to use when doing a touch.
#   The default is 3.
max_samples: 10
#   The maximum number of samples to do before giving up.
#   The default is samples * 2, but minimum 10.

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345 cartographer]
cs_pin: cartographer:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345 cartographer
probe_points:
    150, 150, 20