[mcu H36_combo]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_490012000950415742363820-if00

#####################################################################
# FANS
#####################################################################

[heater_fan hotend_fan]
pin: H36_combo:PA9
heater: extruder
heater_temp: 50.0
tachometer_pin: H36_combo:PC6

[fan]
pin: H36_combo:PB13

#####################################################################
#	Mcu & Driver Temperature
#####################################################################

[temperature_sensor can_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: H36_combo
min_temp: 0
max_temp: 150

[temperature_sensor h36_driver_Temp]
sensor_type: Generic 3950
sensor_pin: H36_combo: PA3
min_temp:0
max_temp:150

#####################################################################
#	Resonance Tester
#####################################################################

[adxl345]
cs_pin: H36_combo:PB12
spi_software_sclk_pin: H36_combo:PB10
spi_software_mosi_pin: H36_combo:PB11
spi_software_miso_pin: H36_combo:PB2
axes_map: -y,z,-x

[resonance_tester]
accel_chip: adxl345
probe_points:
    300,300,30 # an example