[mcu H36_combo]
# serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_490012000950415742363820-if00
canbus_uuid: 17df9281fbb8

#####################################################################
# FANS
#####################################################################

[heater_fan hotend_fan]
pin: H36_combo:PA9
heater: extruder
heater_temp: 50.0
tachometer_pin: H36_combo:PC6
tachometer_ppr: 2
tachometer_poll_interval: 0.0009

[multi_pin part_cooling]
pins: H36_combo:PB13,H36_combo:PA5
#   A comma separated list of pins associated with this alias. This
#   parameter must be provided.

[fan]
pin: multi_pin:part_cooling

#####################################################################
#	Mcu & Driver Temperature
#####################################################################

[temperature_sensor h36_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: H36_combo
min_temp: 0
max_temp: 150

[temperature_sensor h36_driver_Temp]
sensor_type: Generic 3950
sensor_pin: H36_combo: PA3
min_temp:0
max_temp:150