### menu Prep ###
[menu __main __Prep]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Prep
index: 1

[menu __main __Prep __Qgl]
type: command
enable: {not printer.idle_timeout.state == "Printing" and ('quad_gantry_level' in printer)}
name: conditional QGL
gcode:
    CQGL

[menu __main __Prep __Park]
type: command
name: Park Purge
gcode:
    PARK_PURGE