### menu Prep ###
[menu __main prep]
icon: home
enable: {not printer.idle_timeout.state == "Printing"}
name: Prep
index: 1

[menu __main prep qgl]
enable: {not printer.idle_timeout.state == "Printing" and ('quad_gantry_level' in printer)}
method: printer.gcode.script
params: {"script":"CQGL"}
name: conditional QGL
icon: bed-level

[menu __main prep parkpurge]
name: Park Purge
method: printer.gcode.script
params: {"script":"PARK_PURGE"}
icon: extrude