#####################################
#           INCLUDES                #
#####################################

[include mainsail.cfg]
[include H36.cfg]
[include leds.cfg]
[include macros/macros.cfg]
[include shell_command.cfg]
[include filament_sensor.cfg]
[include cartographer.cfg]

#####################################
#           BASICS                  #
#####################################

[mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_440057000251313133353932-if00
# restart_method: command
canbus_uuid: 70e48b850e6c

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 4500
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[exclude_object]

[force_move]
enable_force_move: True

[firmware_retraction]
retract_length: 0.8
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: H36_combo:PB9 
dir_pin: !H36_combo:PB8
enable_pin: !H36_combo:PB7
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: H36_combo: PA7 
pullup_resistor: 2200
sensor_type: Generic 3950
sensor_pin: H36_combo:PA6 
min_temp: 0
max_temp: 280
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 151
max_extrude_cross_section: 5

[safe_z_home]
home_xy_position: 150, 150
speed: 50.0
z_hop: 10
z_hop_speed: 15.0

[tmc2209 extruder]
uart_pin: H36_combo:PC14
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: true
run_current: 1.4
diag_pin: ^PG6

[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ah
tuning_goal: performance
sg4_thrs: 100 # 255 is max sensitivity

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 312
position_max: 312
homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: true
run_current: 1.4
diag_pin: ^PG9

[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ah
tuning_goal: performance
sg4_thrs: 100 # 255 is max sensitivity
 
#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
position_max: 260
position_min: -5
homing_speed: 8
second_homing_speed: 3
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 1.4

[autotune_tmc stepper_z]
motor: moons-ms17hd6p420I-05
tuning_goal: silent

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 1.4

[autotune_tmc stepper_z1]
motor: moons-ms17hd6p420I-05
tuning_goal: silent

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 1.4

[autotune_tmc stepper_z2]
motor: moons-ms17hd6p420I-05
tuning_goal: silent

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 1.4

[autotune_tmc stepper_z3]
motor: moons-ms17hd6p420I-05
tuning_goal: silent

#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1.0
min_temp: -200
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Temperatures
#####################################################################

[temperature_sensor Octopus]
sensor_type              : temperature_mcu
sensor_mcu               : mcu

[temperature_sensor RPI4]
sensor_type: temperature_host

[temperature_sensor chamber]
sensor_pin: PF4
sensor_type: Generic 3950
min_temp: 0
max_temp: 130

#####################################################################
#   Fan Control
#####################################################################

[multi_pin electronics_cooling]
pins: PA8,PE5
#   A comma separated list of pins associated with this alias. This
#   parameter must be provided.

[controller_fan electronics_compartment]
pin: multi_pin:electronics_cooling
fan_speed: 0.9
idle_timeout: 30
idle_speed: 0.3
stepper: stepper_x,stepper_y,stepper_z
shutdown_speed: 1.0
heater:

[controller_fan steppers]
pin: PD12
fan_speed: 1
idle_timeout: 30
idle_speed: 0.2
shutdown_speed: 1.0
stepper: stepper_x,stepper_y,stepper_z

[fan_generic the_filter]
pin: PB10
shutdown_speed: 1
cycle_time: 0.010
kick_start_time: 0.500
off_below: 0.15

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[quad_gantry_level]

gantry_corners:
  -60,-10
  360,370
#  Probe points
points:
  50,25
  50,225
  250,225
  250,25

speed: 200
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.015
max_adjust: 10

# [axis_twist_compensation]
# z_compensations = 0.023967, 0.007717, -0.014737, -0.027618, 0.010670
# compensation_start_x = 40.0
# compensation_end_x = 260.0
# zy_compensations = 0.022843, 0.002675, 0.006751, -0.023155, -0.009115
# compensation_start_y = 40.0
# compensation_end_y = 238.0

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 57.6
damping_ratio_x: 0.096
shaper_type_y: 2hump_ei
shaper_freq_y: 67.6
damping_ratio_y: 0.193
shaper_type_z: 3hump_ei
shaper_freq_z: 66.0

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 35.132
#*# pid_ki = 9.008
#*# pid_kd = 34.253
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.257
#*# pid_ki = 2.920
#*# pid_kd = 290.556
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.3838699495045899,1.8646538744745131,0.7893639018639755,0.10030342403752002,0.7343066296406008,1.737551963695814,-0.8225874861812662,-2.239578869119948,0.7100309201187558,1.234297095313689
#*# domain = 3.1405700161340334e-07,3.3286725177099435e-07
#*# z_offset = 0
#*# reference_temperature = 22.84
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER 5.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 2182
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER 5.1.0
#*#
#*# [cartographer]
#*# z_backlash = 0.01333
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.025131, -0.034233, -0.035472, -0.031586, -0.029023, -0.029023, -0.023736, -0.018474, -0.004095, -0.002961, 0.003653, 0.006180, 0.008788, 0.012613, 0.008788, -0.004266, -0.014688, -0.021182, -0.029023, -0.034233
#*# 	-0.032995, -0.036894, -0.039547, -0.036894, -0.035644, -0.025131, -0.027705, -0.022503, -0.014522, -0.005496, 0.000960, 0.006180, 0.008704, 0.006099, 0.000960, -0.001642, -0.017235, -0.025062, -0.031668, -0.036966
#*# 	-0.042115, -0.046108, -0.048771, -0.047436, -0.047436, -0.043448, -0.036966, -0.030266, -0.022503, -0.014606, -0.001479, -0.004191, -0.001573, -0.004191, -0.008116, -0.014688, -0.022585, -0.031668, -0.039460, -0.044774
#*# 	-0.046108, -0.051367, -0.054035, -0.055448, -0.052778, -0.047444, -0.040791, -0.031594, -0.026386, -0.017236, -0.009431, -0.005423, -0.004191, 0.003582, -0.009431, -0.017235, -0.022503, -0.030349, -0.039465, -0.040858
#*# 	-0.046016, -0.043441, -0.040858, -0.050100, -0.047436, -0.038134, -0.025062, -0.014688, -0.009350, -0.004191, -0.006713, 0.003570, 0.006180, 0.006099, 0.000960, -0.005505, -0.011973, -0.019868, -0.035552, -0.036966
#*# 	-0.031586, -0.039539, -0.043448, -0.043448, -0.048679, -0.029023, -0.017235, -0.009349, -0.002879, 0.002352, 0.007570, 0.012696, 0.016508, 0.017809, 0.003582, 0.003489, -0.002961, -0.010739, -0.021182, -0.030349
#*# 	-0.030342, -0.036881, -0.040784, -0.035711, -0.035555, -0.027705, -0.015916, -0.006803, -0.002879, 0.004878, 0.011306, 0.008800, 0.019102, 0.017809, 0.013915, 0.004880, -0.000259, -0.006803, -0.018466, -0.027705
#*# 	-0.025131, -0.038216, -0.048839, -0.035552, -0.036884, -0.028941, -0.018466, -0.009343, -0.004191, 0.002269, 0.008792, 0.013915, 0.008800, 0.013915, 0.008711, 0.004961, -0.001650, -0.009343, -0.024968, -0.030342
#*# 	-0.038039, -0.039454, -0.044769, -0.051345, -0.044769, -0.038289, -0.027698, -0.017310, -0.009343, -0.001566, 0.007490, 0.010098, 0.016437, 0.003749, 0.003579, -0.002879, -0.005496, -0.013280, -0.019858, -0.040858
#*# 	-0.034315, -0.039619, -0.044774, -0.047436, -0.047436, -0.043448, -0.034151, -0.021181, -0.012051, -0.002879, 0.000971, 0.011402, 0.003577, 0.001050, -0.002871, -0.006722, -0.009343, -0.017147, -0.027698, -0.040864
#*# 	-0.030342, -0.036881, -0.042110, -0.043441, -0.043441, -0.043516, -0.030342, -0.018624, -0.010736, -0.001566, 0.003496, 0.007492, 0.003496, 0.002358, 0.003582, -0.009340, -0.006803, -0.013280, -0.025055, -0.035472
#*# 	-0.035637, -0.042115, -0.047436, -0.050100, -0.047436, -0.043521, -0.035637, -0.027698, -0.024968, -0.006882, -0.008035, -0.006803, -0.008035, -0.009424, -0.011969, -0.013280, -0.017147, -0.025055, -0.036881, -0.046101
#*# 	-0.040858, -0.056684, -0.057944, -0.057944, -0.055351, -0.050094, -0.040858, -0.043356, -0.032902, -0.026291, -0.022413, -0.019779, -0.018460, -0.019775, -0.019857, -0.022495, -0.022494, -0.035551, -0.046097, -0.054013
#*# 	-0.046016, -0.043356, -0.052682, -0.052682, -0.048764, -0.044849, -0.040784, -0.030416, -0.032988, -0.026373, -0.021094, -0.018542, -0.015908, -0.014592, -0.015911, -0.017147, -0.027608, -0.027608, -0.042110, -0.056684
#*# 	-0.051426, -0.056769, -0.060617, -0.061956, -0.056686, -0.052762, -0.048760, -0.046097, -0.040858, -0.036878, -0.031577, -0.027610, -0.027691, -0.025051, -0.023731, -0.027691, -0.034228, -0.040860, -0.052759, -0.063381
#*# 	-0.067324, -0.072617, -0.076738, -0.079352, -0.074045, -0.070091, -0.062041, -0.063381, -0.059363, -0.054015, -0.048760, -0.043437, -0.043437, -0.042190, -0.042110, -0.048679, -0.046176, -0.056686, -0.064722, -0.074045
#*# 	-0.068746, -0.072616, -0.079349, -0.079349, -0.076573, -0.072698, -0.069929, -0.065898, -0.062040, -0.054013, -0.050012, -0.046097, -0.043437, -0.042187, -0.042107, -0.047430, -0.051426, -0.056684, -0.063215, -0.070010
#*# 	-0.068585, -0.072698, -0.078002, -0.077922, -0.075389, -0.072698, -0.070010, -0.064642, -0.060617, -0.054015, -0.048760, -0.040780, -0.038123, -0.038123, -0.035552, -0.042110, -0.046097, -0.050092, -0.056769, -0.063298
#*# 	-0.068666, -0.074042, -0.076654, -0.078001, -0.078001, -0.075388, -0.071272, -0.065982, -0.062041, -0.056684, -0.047428, -0.040860, -0.038123, -0.036878, -0.039531, -0.044766, -0.047428, -0.051426, -0.055349, -0.064642
#*# 	-0.069928, -0.072697, -0.075307, -0.078001, -0.078001, -0.075307, -0.074042, -0.069928, -0.064554, -0.056684, -0.048759, -0.040858, -0.038204, -0.038204, -0.040858, -0.046016, -0.051425, -0.054013, -0.056684, -0.063381
#*# min_x = 40.0
#*# min_y = 40.0
#*# max_x = 260.0
#*# max_y = 260.0
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
