[mcu toquecan]
canbus_uuid: c57e72b4e533
canbus_interface: can0

[fan_generic pifan]
pin: toquecan:PA2
# sensor_type: temperature_host
off_below: 0.0
# min_temp: 10
# max_temp: 90
# target_temp:50
# control: watermark

# [neopixel piled]
# pin: toquecan:PA3
# color_order: GRBW