[gcode_macro _CQGL]
gcode:
    {% if printer.quad_gantry_level.applied == False %}
        {% if "xyz" not in printer.toolhead.homed_axes %}
            M117 Homing all axis.
            G28 ; home if not already homed
        {% endif %}
        M117 Quad gantry level.
        QUAD_GANTRY_LEVEL
        M117 Homing Z again.
        G28 Z
        M117
    {% endif %}

[gcode_macro _CG28]
description: Homing only if necessary
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        M117 Homing all axis.
        G28
        M117
    {% endif %}

# Park front center, but low down.
[gcode_macro PARK_FRONT_LOW]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28                           ; home if not already homed
    {% endif %}
    SAVE_GCODE_STATE NAME=PARK_FRONT_LOW
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z20 F6000                                     
    RESTORE_GCODE_STATE NAME=PARK_FRONT_LOW

# Park front center, but low down.
[gcode_macro PARK_FRONT_CENTER]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28                           ; home if not already homed
    {% endif %}
    SAVE_GCODE_STATE NAME=PARK_FRONT_CENTER
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z{printer.toolhead.axis_maximum.z/2} F6000                                     
    RESTORE_GCODE_STATE NAME=PARK_FRONT_CENTER

# Park center, but low down.
[gcode_macro PARK_CENTER_LOW]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28                           ; home if not already homed
    {% endif %}
    SAVE_GCODE_STATE NAME=PARK_CENTER_LOW
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z10 F6000                                     
    RESTORE_GCODE_STATE NAME=PARK_CENTER_LOW

# Park center,.
[gcode_macro PARK_CENTER]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28                           ; home if not already homed
    {% endif %}
    SAVE_GCODE_STATE NAME=PARK_CENTER
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z{printer.toolhead.axis_maximum.z/2} F6000                                     
    RESTORE_GCODE_STATE NAME=PARK_CENTER

# Park purge
[gcode_macro PARK_PURGE]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28                           ; home if not already homed
    {% endif %}
    SAVE_GCODE_STATE NAME=PARK_PURGE
    G90                              ; absolute positioning
    G0 X130 Y301 Z15 F6000                                   
    RESTORE_GCODE_STATE NAME=PARK_PURGE

# Park back right
[gcode_macro PARK_BACK_RIGHT]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28                           ; home if not already homed
    {% endif %}
    SAVE_GCODE_STATE NAME=PARK_BACK_RIGHT
    G90                              ; absolute positioning
    G0 X290 Y290 Z15 F6000                                   
    RESTORE_GCODE_STATE NAME=PARK_BACK_RIGHT

# Park up high for maintenance.
[gcode_macro PARK_MAINTENANCE]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28                           ; home if not already homed
    {% endif %}
    SAVE_GCODE_STATE NAME=PARK_PARK_MAINTENANCE
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z255 F6000                                   
    RESTORE_GCODE_STATE NAME=PARK_PARK_MAINTENANCE

[gcode_macro TAP_MESH]
gcode:
  _CQGL
  
  CLEAR_PAUSE
  G90
  
  status_heating
  
  G1 X150 Y150 Z20 F6000
  M117 Heatup Bed to 50°C

  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=50
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={50*0.96} MAXIMUM={50*1.04}

  M117 Heat Nozzle to 145°C for TAP
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=145
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={150*0.98} MAXIMUM={150*1.02}

  status_meshing

  M117 Bedmeshing in progress.
  BED_MESH_CALIBRATE

  M117 Cartographer touch home.
  status_calibrating_z
  CARTOGRAPHER_TOUCH_HOME

  status_cooling

  M117 Cooling down.
  TURN_OFF_HEATERS
