[gcode_macro BRUSH_NOZZLE]
# heat nozzle for best results
variable_x1: 85 # left of brush
variable_x2: 125 # right or brush
variable_y1: 306 # y value
variable_y2: 305
variable_y3: 307
variable_z1: 1 # nozzle height
gcode:
    M400  ;wait for buffer to clear
    CQGL
    SAVE_GCODE_STATE NAME=BRUSH_NOZZLE
    G90
    G0 X{x1} Y{y1}  ;left position
    G0 Z{z1}        ;move down, ready for brushing
    
    M117 Brushing Nozzle
    G0 X{x2} F12000  ;move right
    G0 X{x1}        ;move left
    G0 Y{y2}
    G0 X{x2}        ;move right
    G0 X{x1}        ;move left
    G0 Y{y3}
    G0 X{x2}        ;move right
    G0 X{x1}        ;move left
    G0 Y{y1}
    G0 X{x2}        ;move right
    G0 X{x1}        ;move left
    G0 Z15 F3600     ;raise nozzle when done
    M117 Nozzle Cleaned
    RESTORE_GCODE_STATE NAME=BRUSH_NOZZLE