[gcode_macro BRUSH_NOZZLE]
# heat nozzle for best results
variable_x1: 85 # left of brush
variable_x2: 125 # right or brush
variable_y1: 306 # y value
variable_y2: 305
variable_y3: 307
variable_z1: 1 # nozzle height
variable_brush_speed: 12000
variable_z_speeed: 3600
gcode:
    {% set travel_speed = (printer.toolhead.max_velocity) * 50 | float %}
    M400  ;wait for buffer to clear
    CQGL
    SAVE_GCODE_STATE NAME=BRUSH_NOZZLE
    G90
    G0 X{x1} Y{y1} F{travel_speed}  ;left position
    G0 Z{z1} F{z_speed}        			;move down, ready for brushing
    
    M117 Brushing Nozzle
    G0 X{x2} F{brush_speed} ;move right
    G0 X{x1} F{brush_speed} ;move left
    G0 Y{y2} F{brush_speed}
    G0 X{x2} F{brush_speed} ;move right
    G0 X{x1} F{brush_speed} ;move left
    G0 Y{y3} F{brush_speed}
    G0 X{x2} F{brush_speed} ;move right
    G0 X{x1} F{brush_speed} ;move left
    G0 Y{y1} F{brush_speed}
    G0 X{x2} F{brush_speed} ;move right
    G0 X{x1} F{brush_speed} ;move left
    G0 Z15 F{z_speed}     	;raise nozzle when done
    M117 Nozzle Cleaned
    RESTORE_GCODE_STATE NAME=BRUSH_NOZZLE