[gcode_macro START_PRINT]
gcode:

  #Get variables from Slicer GCode
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
  {% set TARGET_CHAMBER = params.CHAMBER_TEMP|default("20")|int %}
  {% set PRESSURE_ADVANCE = params.PRESSURE_ADVANCE|default("0.03")|float %}
  {% set FILAMENT_TYPE = params.FILAMENT_TYPE %}
  {% if FILAMENT_TYPE == 'PLA' %}  
      {% set OFFSET = 0|default(0)|float %}
  {% elif FILAMENT_TYPE in ['PET','PETG'] %}     
      {% set OFFSET = 0|default(0)|float %}
  {% elif FILAMENT_TYPE in ['ASA','ABS'] %}  
      {% set OFFSET = 0|default(0)|float %}
  {% else %}
      {% set OFFSET = 0|default(0)|float %}
  {% endif %}
  # CHAMBER_ON

  SET_GCODE_OFFSET Z=0  
  BED_MESH_CLEAR
  
  status_heating
  #Conditional heatsoak.
  {% if printer['temperature_sensor chamber'].temperature < TARGET_CHAMBER  %}
        M117 Preheating chamber.
        # CHAMBER_OFF
        HEATSOAK T={BED_TEMP} C={TARGET_CHAMBER} WAIT=1
        # CHAMBER_ON
  {% endif %}

  status_homing
  
  _CG28
  
  _CQGL

  #Apply skew profile.
  # SKEW_PROFILE LOAD=CaliFlower

  #Set pressure advance depending on filament.
  SET_PRESSURE_ADVANCE ADVANCE={PRESSURE_ADVANCE}
  CLEAR_PAUSE
  G90

  status_heating
  M117 Heatup bed to {BED_TEMP}°C.

  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}  
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP*0.96} MAXIMUM={BED_TEMP*1.04}

  M117 Adaptive bedmeshing in progress.
  status_meshing
  BED_MESH_CALIBRATE ADAPTIVE=1

  G0 X130 Y301 Z15 F6000

  M117 Heatup nozzle to 160°C for scrub.
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=160
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={160*0.98} MAXIMUM={160*1.02}

  M117 Nozzle scrub.
  brush_nozzle

  M117 Cool down nozzle to 145°C for scrub.
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=145
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={145*0.98} MAXIMUM={145*1.02}

  M117 Cartographer touch.
  status_calibrating_z
  CARTOGRAPHER_TOUCH_HOME

  G0 X130 Y301 Z20 F6000

  M117 Heatup nozzle to {EXTRUDER_TEMP}°C.
  status_heating
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP*0.98} MAXIMUM={EXTRUDER_TEMP*1.02}

  #Avoid hitting the brush
  G0 Y280 F6000

  # SFS_ENABLE
  # Change offset depending on material.
  SET_GCODE_OFFSET Z_ADJUST={OFFSET} MOVE=1
  
  status_printing
  M117

[gcode_macro END_PRINT]
gcode:

  M117 End print
  END_PRINT_UNLOAD
  TURN_OFF_HEATERS

  status_cooling
  
  PRESENT_PRINT

  M117
  M84 
  # SET_SKEW CLEAR=1
  # SFS_DISABLE
  BED_MESH_CLEAR
  M117

[gcode_macro PRESENT_PRINT]
gcode:
  SAVE_GCODE_STATE NAME=present_print_state

  {% set X_MAX = printer.toolhead.axis_maximum.x|float %}
  {% set Y_MAX = printer.toolhead.axis_maximum.y|float %}
  {% set Z_MAX = printer.toolhead.axis_maximum.z|float %}
  {% set Z_PARK_MIN = 200 | float %}
  {% set Z_PARK_LIFT = 10 | float %}

  G90
  {% if printer.toolhead.position.z + Z_PARK_LIFT > Z_PARK_MIN %}
    G1 X{X_MAX * 0.9} Y{Y_MAX * 0.9} Z{printer.toolhead.position.z + Z_PARK_LIFT} F4000
  {% else %}
    G1 X{X_MAX *0.9} Y{Y_MAX * 0.9} Z{Z_PARK_MIN} F4000
  {% endif %}

  RESTORE_GCODE_STATE NAME=present_print_state

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}

[gcode_macro HEATSOAK]
gcode:
    # Parameters
    {% set t = params.T|default(100)|int %}
    {% set c = params.C|default(35)|int %}
    {% set wait = params.WAIT|default(0)|int %}

    SAVE_GCODE_STATE NAME=HEATSOAK
    M104 S0                                           ; turn off hotend
    M140 S{t}                                         ; heat bed
    SET_FAN_SPEED FAN=nevermore SPEED=1.0
    {% if c > 29 and wait == 1 %}
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={c} ; wait for chamber temp
    {% endif %}
    RESTORE_GCODE_STATE NAME=HEATSOAK

# https://klipper.discourse.group/t/interruptible-heat-soak/1552
[gcode_macro HEAT_SOAK]
description: heats the bed for a while
 
variable_target_temp: 0
variable_stage: None ## heating -> soaking -> done -> None
 
## in seconds
variable_check_interval: 10
variable_soak_time_remaining: 0
variable_total_time_elapsed: 0
 
gcode:
    {% set TARGET = params.TARGET | default(0) | float %}
    {% set DURATION = (params.DURATION | default(5) | int) * 60 %} ## minutes to seconds
 
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=target_temp         VALUE={ TARGET }
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage               VALUE="'heating'"
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_remaining VALUE={ DURATION }
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed  VALUE=0
 
    ;; fire up the heater
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={ TARGET }
 
    ;; run the fan to circulate air
    SET_FAN_SPEED FAN=nevermore SPEED=1.0
 
    M84 ;; turn off steppers
    status_heating
    UPDATE_DELAYED_GCODE ID=heat_soaker DURATION={ check_interval }
 
[gcode_macro CANCEL_HEAT_SOAK]
description: cancels an in-progress HEAT_SOAK cycle
gcode:
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'cancel'"
    UPDATE_DELAYED_GCODE ID=heat_soaker DURATION=1
    status_off
 
[delayed_gcode heat_soaker]
; ## debug
; { action_respond_info( printer['gcode_macro HEAT_SOAK'] | tojson )}
gcode:
    {% set heat_soak = printer['gcode_macro HEAT_SOAK'] %}
 
    ## update total time elapsed
    {% set total_time_elapsed = heat_soak.total_time_elapsed + heat_soak.check_interval %}
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed VALUE={ total_time_elapsed }
 
    {% set stage = heat_soak.stage %}
    {% if stage == "heating" and printer.heater_bed.temperature >= heat_soak.target_temp %}
        {% set stage = "soaking" %}
    {% endif %}
 
    {% if stage == "soaking" %}
        ## update soak countdown
        {% set soak_time_remaining = [heat_soak.soak_time_remaining - heat_soak.check_interval, 0] | max %}
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_remaining VALUE={ soak_time_remaining }
 
        {% if soak_time_remaining == 0 %}
            {% set stage = "done" %}
        {% endif %}
    {% endif %}
 
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'{ stage }'"
 
    {% if stage in ("done", "cancel") %}
 
        {% if stage == "cancel" %}
            {% set stage = "done" %}
            TURN_OFF_HEATERS
            M107 ; turn off fan
 
            M117 { "soak cancelled after ~%.1fm" | format(total_time_elapsed / 60.0) }
        {% else %}
            M117 { "soak complete after %.1fm" | format(total_time_elapsed / 60.0) }
        {% endif %}
 
        ## reset all state vars, except stage, which may be queried via the api
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=target_temp         VALUE=0
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_remaining VALUE=0
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed  VALUE=0
 
    {% else %}
 
        {% if total_time_elapsed % 90 == 0 %}
            ## output status periodically
            {% if stage == "heating" %}
                M117 { "heating -- %.1fm elapsed" | format(total_time_elapsed / 60.0) }
            {% elif stage == "soaking" %}
                M117 { "soaking -- %.1fm remaining" | format(soak_time_remaining / 60.0) }
            {% endif %}
        {% endif %}
 
        ## trigger ourselves again
        UPDATE_DELAYED_GCODE ID=heat_soaker DURATION={ heat_soak.check_interval }
 
        ## dwell for 1ms to prevent from going idle
        G4 P1
 
    {% endif %}

[gcode_macro HOT_UNLOAD_FILAMENT]
description: unloads filament at given temperature
gcode:
    {% set TARGET = params.TARGET | default(260) | float %}
    SAVE_GCODE_STATE NAME=HOTUNLOADFILAMENT
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={TARGET}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={TARGET*0.98} MAXIMUM={TARGET*1.02}
    M83                                   ; set extruder to relative
    G1 E10 F600                           ; extrude a little to soften tip 
    G1 E-120 F1800                        ; retract filament completely
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    RESTORE_GCODE_STATE NAME=HOTUNLOADFILAMENT

[gcode_macro HOT_LOAD_FILAMENT]
description: unloads filament at given temperature
gcode:
    {% set TARGET = params.TARGET | default(260) | float %}
    SAVE_GCODE_STATE NAME=HOTLOADFILAMENT
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={TARGET}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={TARGET*0.98} MAXIMUM={TARGET*1.02}
    M83 ; set extruder to relative
    G1 E150 F500
    G1 E-10 F1800
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    RESTORE_GCODE_STATE NAME=HOTLOADFILAMENT

[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=UNLOADFILAMENT
    M83                                   ; set extruder to relative
    G1 E10 F600                           ; extrude a little to soften tip 
    G1 E-120 F1800                        ; retract filament completely
    RESTORE_GCODE_STATE NAME=UNLOADFILAMENT

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=LOADFILAMENT
    M83 ; set extruder to relative
    G1 E150 F500
    G1 E-10 F1800
    RESTORE_GCODE_STATE NAME=LOADFILAMENT

[gcode_macro END_PRINT_UNLOAD]
description: Unloads after a print is finished.
gcode:
    SAVE_GCODE_STATE NAME=UNLOADFILAMENT
    M83
    G1 E-10 F3500 #fast-unload
    RESTORE_GCODE_STATE NAME=UNLOADFILAMENT

[gcode_macro _WAIT]
gcode:
    {% set TIME = params.TIME|default(0)|int %}
    G4 P{TIME*1000}
