[gcode_macro START_PRINT]
gcode:

  #Get variables from Slicer GCode
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
  {% set TARGET_CHAMBER = params.CHAMBER_TEMP|default("20")|int %}
  {% set PRESSURE_ADVANCE = params.PRESSURE_ADVANCE|default("0.03")|float %}
  {% set FILAMENT_TYPE = params.FILAMENT_TYPE %}
  {% if FILAMENT_TYPE == 'PLA' %}  
      {% set OFFSET = 0|default(0)|float %}
  {% elif FILAMENT_TYPE in ['PET','PETG'] %}     
      {% set OFFSET = 0|default(0)|float %}
  {% elif FILAMENT_TYPE in ['ASA','ABS'] %}  
      {% set OFFSET = 0|default(0)|float %}
  {% else %}
      {% set OFFSET = 0|default(0)|float %}
  {% endif %}
  # CHAMBER_ON

  SET_GCODE_OFFSET Z=0  
  BED_MESH_CLEAR
  
  status_heating
  #Conditional heatsoak.
  {% if printer['temperature_sensor chamber'].temperature < TARGET_CHAMBER  %}
        M117 Preheating chamber.
        # CHAMBER_OFF
        HEATSOAK T={BED_TEMP} C={TARGET_CHAMBER} WAIT=1
        # CHAMBER_ON
  {% endif %}

  status_homing
  
  _CG28
  
  _CQGL

  #Apply skew profile.
  # SKEW_PROFILE LOAD=CaliFlower

  #Set pressure advance depending on filament.
  SET_PRESSURE_ADVANCE ADVANCE={PRESSURE_ADVANCE}
  CLEAR_PAUSE
  G90

  status_heating
  M117 Heatup bed to {BED_TEMP}°C.

  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}  
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP*0.96} MAXIMUM={BED_TEMP*1.04}

  M117 Adaptive bedmeshing in progress.
  status_meshing
  BED_MESH_CALIBRATE ADAPTIVE=1

  G0 X130 Y301 Z15 F6000

  M117 Heatup nozzle to 160°C for scrub.
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=160
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={160*0.98} MAXIMUM={160*1.02}

  M117 Nozzle scrub.
  brush_nozzle

  M117 Cool down nozzle to 145°C for scrub.
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=145
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={145*0.98} MAXIMUM={145*1.02}

  M117 Cartographer touch.
  status_calibrating_z
  CARTOGRAPHER_TOUCH_HOME

  G0 X130 Y301 Z20 F6000

  M117 Heatup nozzle to {EXTRUDER_TEMP}°C.
  status_heating
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP*0.98} MAXIMUM={EXTRUDER_TEMP*1.02}

  #Avoid hitting the brush
  G0 Y280 F6000

  # SFS_ENABLE
  # Change offset depending on material.
  SET_GCODE_OFFSET Z_ADJUST={OFFSET} MOVE=1
  
  status_printing
  M117

[gcode_macro END_PRINT]
gcode:

  M117 End print
  END_PRINT_UNLOAD
  TURN_OFF_HEATERS

  status_cooling
  
  PRESENT_PRINT

  M117
  M84 
  # SET_SKEW CLEAR=1
  # SFS_DISABLE
  BED_MESH_CLEAR
  M117

[gcode_macro PRESENT_PRINT]
gcode:
  SAVE_GCODE_STATE NAME=present_print_state

  {% set X_MAX = printer.toolhead.axis_maximum.x|float %}
  {% set Y_MAX = printer.toolhead.axis_maximum.y|float %}
  {% set Z_MAX = printer.toolhead.axis_maximum.z|float %}
  {% set Z_PARK_MIN = 200 | float %}
  {% set Z_PARK_LIFT = 10 | float %}

  G90
  {% if printer.toolhead.position.z + Z_PARK_LIFT > Z_PARK_MIN %}
    G1 X{X_MAX * 0.9} Y{Y_MAX * 0.9} Z{printer.toolhead.position.z + Z_PARK_LIFT} F4000
  {% else %}
    G1 X{X_MAX *0.9} Y{Y_MAX * 0.9} Z{Z_PARK_MIN} F4000
  {% endif %}

  RESTORE_GCODE_STATE NAME=present_print_state

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}

[gcode_macro HEATSOAK]
gcode:
    # Parameters
    {% set t = params.T|default(100)|int %}
    {% set c = params.C|default(35)|int %}
    {% set wait = params.WAIT|default(0)|int %}

    SAVE_GCODE_STATE NAME=HEATSOAK
    M104 S0                                           ; turn off hotend
    M140 S{t}                                         ; heat bed
    SET_FAN_SPEED FAN=nevermore SPEED=1.0
    {% if c > 29 and wait == 1 %}
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={c} ; wait for chamber temp
    {% endif %}
    RESTORE_GCODE_STATE NAME=HEATSOAK

# https://klipper.discourse.group/t/interruptible-heat-soak/1552
[gcode_macro HEAT_SOAK]
description: heats the bed for a while
 
variable_target_temp: 0
variable_stage: None ## heating -> soaking -> done -> None
 
## in seconds
variable_check_interval: 10
variable_soak_time_remaining: 0
variable_total_time_elapsed: 0
 
gcode:
    {% set TARGET = params.TARGET | default(0) | float %}
    {% set DURATION = (params.DURATION | default(5) | int) * 60 %} ## minutes to seconds
 
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=target_temp         VALUE={ TARGET }
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage               VALUE="'heating'"
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_remaining VALUE={ DURATION }
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed  VALUE=0
 
    ;; fire up the heater
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={ TARGET }
 
    ;; run the fan to circulate air
    SET_FAN_SPEED FAN=nevermore SPEED=1.0
 
    M84 ;; turn off steppers
    status_heating
    UPDATE_DELAYED_GCODE ID=heat_soaker DURATION={ check_interval }
 
[gcode_macro CANCEL_HEAT_SOAK]
description: cancels an in-progress HEAT_SOAK cycle
gcode:
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'cancel'"
    UPDATE_DELAYED_GCODE ID=heat_soaker DURATION=1
    status_off
 
[delayed_gcode heat_soaker]
; ## debug
; { action_respond_info( printer['gcode_macro HEAT_SOAK'] | tojson )}
gcode:
    {% set heat_soak = printer['gcode_macro HEAT_SOAK'] %}
 
    ## update total time elapsed
    {% set total_time_elapsed = heat_soak.total_time_elapsed + heat_soak.check_interval %}
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed VALUE={ total_time_elapsed }
 
    {% set stage = heat_soak.stage %}
    {% if stage == "heating" and printer.heater_bed.temperature >= heat_soak.target_temp %}
        {% set stage = "soaking" %}
    {% endif %}
 
    {% if stage == "soaking" %}
        ## update soak countdown
        {% set soak_time_remaining = [heat_soak.soak_time_remaining - heat_soak.check_interval, 0] | max %}
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_remaining VALUE={ soak_time_remaining }
 
        {% if soak_time_remaining == 0 %}
            {% set stage = "done" %}
        {% endif %}
    {% endif %}
 
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'{ stage }'"
 
    {% if stage in ("done", "cancel") %}
 
        {% if stage == "cancel" %}
            {% set stage = "done" %}
            TURN_OFF_HEATERS
            M107 ; turn off fan
 
            M117 { "soak cancelled after ~%.1fm" | format(total_time_elapsed / 60.0) }
        {% else %}
            M117 { "soak complete after %.1fm" | format(total_time_elapsed / 60.0) }
        {% endif %}
 
        ## reset all state vars, except stage, which may be queried via the api
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=target_temp         VALUE=0
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_remaining VALUE=0
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed  VALUE=0
 
    {% else %}
 
        {% if total_time_elapsed % 90 == 0 %}
            ## output status periodically
            {% if stage == "heating" %}
                M117 { "heating -- %.1fm elapsed" | format(total_time_elapsed / 60.0) }
            {% elif stage == "soaking" %}
                M117 { "soaking -- %.1fm remaining" | format(soak_time_remaining / 60.0) }
            {% endif %}
        {% endif %}
 
        ## trigger ourselves again
        UPDATE_DELAYED_GCODE ID=heat_soaker DURATION={ heat_soak.check_interval }
 
        ## dwell for 1ms to prevent from going idle
        G4 P1
 
    {% endif %}

[gcode_macro HOT_UNLOAD_FILAMENT]
description: unloads filament at given temperature
gcode:
    {% set TARGET = params.TARGET | default(260) | float %}
    SAVE_GCODE_STATE NAME=HOTUNLOADFILAMENT
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={TARGET}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={TARGET*0.98} MAXIMUM={TARGET*1.02}
    M83                                   ; set extruder to relative
    G1 E10 F600                           ; extrude a little to soften tip 
    G1 E-120 F1800                        ; retract filament completely
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    RESTORE_GCODE_STATE NAME=HOTUNLOADFILAMENT

[gcode_macro HOT_LOAD_FILAMENT]
description: unloads filament at given temperature
gcode:
    {% set TARGET = params.TARGET | default(260) | float %}
    SAVE_GCODE_STATE NAME=HOTLOADFILAMENT
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={TARGET}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={TARGET*0.98} MAXIMUM={TARGET*1.02}
    M83 ; set extruder to relative
    G1 E150 F500
    G1 E-10 F1800
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    RESTORE_GCODE_STATE NAME=HOTLOADFILAMENT

[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=UNLOADFILAMENT
    M83                                   ; set extruder to relative
    G1 E10 F600                           ; extrude a little to soften tip 
    G1 E-120 F1800                        ; retract filament completely
    RESTORE_GCODE_STATE NAME=UNLOADFILAMENT

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=LOADFILAMENT
    M83 ; set extruder to relative
    G1 E150 F500
    G1 E-10 F1800
    RESTORE_GCODE_STATE NAME=LOADFILAMENT

[gcode_macro END_PRINT_UNLOAD]
description: Unloads after a print is finished.
gcode:
    SAVE_GCODE_STATE NAME=UNLOADFILAMENT
    M83
    G1 E-5 F3500 #fast-unload
    RESTORE_GCODE_STATE NAME=UNLOADFILAMENT

[gcode_macro _WAIT]
gcode:
    {% set TIME = params.TIME|default(0)|int %}
    G4 P{TIME*1000}

[gcode_macro _KAMP_Settings]
description: This macro contains all adjustable settings for KAMP 

# The following variables are settings for KAMP as a whole.
variable_verbose_enable: True               # Set to True to enable KAMP information output when running. This is useful for debugging.                                                                                                    # Legacy Gcode:   'M401'         | 'M402'

# The following variables are for adjusting adaptive purge settings for KAMP.
variable_purge_height: 0.8                  # Z position of nozzle during purge, default is 0.8.
variable_tip_distance: 0                    # Distance between tip of filament and nozzle before purge. Should be similar to PRINT_END final retract amount.
variable_purge_margin: 10                   # Distance the purge will be in front of the print area, default is 10.
variable_purge_amount: 30                   # Amount of filament to be purged prior to printing.
variable_flow_rate: 12                      # Flow rate of purge in mm3/s. Default is 12.

# The following variables are for adjusting the Smart Park feature for KAMP, which will park the printhead near the print area at a specified height.
variable_smart_park_height: 10              # Z position for Smart Park, default is 10.

gcode: # Gcode section left intentionally blank. Do not disturb.

    {action_respond_info(" Running the KAMP_Settings macro does nothing, it is only used for storing KAMP settings. ")}

[gcode_macro VORON_PURGE]
description: A purge macro that adapts to be near your actual printed objects

# The following variables are for adjusting the Smart Park feature for KAMP, which will park the printhead near the print area at a specified height.
variable_smart_park_height: 10              # Z position for Smart Park, default is 10.
gcode:
    # Get relevant printer params
    {% set travel_speed = (printer.toolhead.max_velocity) * 60 | float %}
    {% set cross_section = printer.configfile.settings.extruder.max_extrude_cross_section | float %}
    
    # Use firmware retraction if it is defined
    {% if printer.firmware_retraction is defined %}
        {% set RETRACT = G10 | string %}
        {% set UNRETRACT = G11 | string %}
    {% else %}
        {% set RETRACT = 'G1 E-.5 F2100' | string %}
        {% set UNRETRACT = 'G1 E.5 F2100' | string %}
    {% endif %}

    # Get purge settings from _Kamp_Settings
    {% set kamp_settings = printer["gcode_macro _KAMP_Settings"] %}
    {% set verbose_enable = kamp_settings.verbose_enable | abs %}
    {% set purge_height = kamp_settings.purge_height | float %}
    {% set tip_distance = kamp_settings.tip_distance | float %}
    {% set purge_margin = kamp_settings.purge_margin | float %}
    {% set purge_amount = kamp_settings.purge_amount | float %}
    {% set flow_rate = kamp_settings.flow_rate | float %}
    {% set size = 10 | float %}

    # Calculate purge origins and centers from objects
    {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}    # Get all object points
    {% set purge_x_min = (all_points | map(attribute=0) | min | default(0)) %}                          # Object x min
    {% set purge_x_max = (all_points | map(attribute=0) | max | default(0)) %}                          # Object x max
    {% set purge_y_min = (all_points | map(attribute=1) | min | default(0)) %}                          # Object y min
    {% set purge_y_max = (all_points | map(attribute=1) | max | default(0)) %}                          # Object y max

    {% set purge_x_center = ([((purge_x_max + purge_x_min) / 2) - (purge_amount / 2), 0] | max) %}      # Create center point of purge line relative to print on X axis
    {% set purge_y_center = ([((purge_y_max + purge_y_min) / 2) - (purge_amount / 2), 0] | max) %}      # Create center point of purge line relative to print on Y axis

    {% set purge_x_origin = ([purge_x_min - purge_margin, 0] | max) %}                                  # Add margin to x min, compare to 0, and choose the larger
    {% set purge_y_origin = ([purge_y_min - purge_margin, 0] | max) %}                                  # Add margin to y min, compare to 0, and choose the larger

    # Calculate purge speed
    {% set purge_move_speed = (flow_rate / 5.0) * 60 | float %}

    {% if cross_section < 5 %}

        {action_respond_info("[Extruder] max_extrude_cross_section is insufficient for purge, please set it to 5 or greater. Purge skipped.")}

    {% else %}

        {% if verbose_enable == True %}

        {action_respond_info("Moving filament tip {}mms".format(                                                                 
            (tip_distance),                                                                                      
        )) }
        {% endif %}

        {% if printer.firmware_retraction is defined %}
            {action_respond_info("KAMP purge is using firmware retraction.")}
        {% else %}
            {action_respond_info("KAMP purge is not using firmware retraction, it is recommended to configure it.")}
        {% endif %}

            SAVE_GCODE_STATE NAME=Prepurge_State                                                            # Create gcode state

            G92 E0                                                                                          # Reset extruder
            G0 F{travel_speed}                                                                              # Set travel speed
            G90                                                                                             # Absolute positioning
            G0 X{purge_x_origin} Y{purge_y_origin+size/2}                                                   # Move to purge position
            G0 Z{purge_height}                                                                              # Move to purge Z height
            M83                                                                                             # Relative extrusion mode
            G1 E{tip_distance} F{purge_move_speed}                                                          # Move tip of filament to nozzle
            G1 X{purge_x_origin+size*0.289} Y{purge_y_origin+size} E{purge_amount/4} F{purge_move_speed}    # Purge first line of logo
            {RETRACT}                                                                                       # Retract
            G0 Z{purge_height*2}                                                                            # Z hop
            G0 X{purge_x_origin+size*0.789} Y{purge_y_origin+size}                                          # Move to second purge line origin
            G0 Z{purge_height}                                                                              # Move to purge Z height
            {UNRETRACT}                                                                                     # Recover
            G1 X{purge_x_origin+size*0.211} Y{purge_y_origin} E{purge_amount/2} F{purge_move_speed}         # Purge second line of logo
            {RETRACT}                                                                                       # Retract
            G0 Z{purge_height*2}                                                                            # Z hop
            G0 X{purge_x_origin+size*0.711} Y{purge_y_origin}                                               # Move to third purge line origin
            G0 Z{purge_height}                                                                              # Move to purge Z height
            {UNRETRACT}                                                                                     # Recover
            G1 X{purge_x_origin+size} Y{purge_y_origin+size/2}  E{purge_amount/4} F{purge_move_speed}       # Purge third line of logo
            {RETRACT}                                                                                       # Retract
            G92 E0                                                                                          # Reset extruder distance
            M82                                                                                             # Absolute extrusion mode
            G0 Z{purge_height*2} F{travel_speed}                                                            # Z hop

            RESTORE_GCODE_STATE NAME=Prepurge_State                                                         # Restore gcode state

    {% endif %}
